@charset "utf-8";
* {
  font-family: Arial, Helvetica, "LiHei Pro", "Microsoft JhengHei", MingLiU,
    sans-serif;
  box-sizing: border-box;
}

.img_inner {
  position: relative;
  width: 100%;
}

.img_inner::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 65%,
    rgba(255, 255, 255, 0.5) 70%,
    #fff 100%
  );
}

.img_resp {
  width: 100%;

  /* position: relative; */
}

main {
  /* background-color: #fff; */
  position: relative;
  top: -17%;
  z-index: 3;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

ul {
  width: 100%;
  background-color: #fff;
  margin-top: -5%;
  border-radius: 3px;
  box-shadow: 0 5px 5px #ddd;
  padding-left: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}
li {
  text-align: center;
  font-size: 25px;
  width: 25%;
  padding: 1.2% 0;
}

.default {
  border-bottom: solid 3px #f2a93b;
  color: #f2a93b;
}

article {
  display: flex;
  flex-wrap: wrap;
}

section {
  position: relative;
  width: 22.5%;
  border: solid 1px #ccc;
  margin: 1.25%;
}

.content {
  padding: 0 0.5rem;
}

h2 {
  font-size: 18px;
  color: #f2a93b;
}

p {
  line-height: 1.4rem;
  color: #666;
  font-size: 15px;
}

.img_resp1 {
  width: 100%;
}

.title {
  position: absolute;
  color: #fff;
  font-size: 12px;
  background-color: #f2a93b;
  padding: 1% 3%;
  margin: 0;
  top: -5%;
  left: -3%;
  border-radius: 3px;
  z-index: 2;
}

@media screen and (max-width: 1024px) {
  section {
    width: 30.5%;
  }
}

@media screen and (max-width: 768px) {
  section {
    width: 47%;
  }
}

/* 320~480 */
@media screen and (max-width: 480px) and (min-width: 320px) {
  section {
    width: 96%;
  }

  li {
    font-size: 16px;
  }

  .box1 {
    order: 1;
  }
  article section:nth-child(2) {
    order: 3;
  }
  article section:nth-child(3) {
    order: 4;
  }
  article section:nth-child(4) {
    order: 1;
  }
  article section:nth-child(5) {
    order: 5;
  }

  article section:nth-child(6) {
    order: 6;
  }
}
